<script type="text/javascript">
  $(function(){
    document.addEventListener("turbolinks:before-cache", function() {
      dataTable.destroy();
    });

    var dataTable = $("#reviewer-paper-table").DataTable();
  })
</script>
<p><%= notice%></p>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default text-center">
      <div class="panel-body">
        <p><i class="fas fa-calendar-minus"></i>
          <%= @reviewer_papers_pending %> 
          Pendências
        </p>
      </div>
      <div class="panel-footer">
        <%= link_to reviewer_pending_path,  class: 'btn btn-default' do %>
          Ver Artigos <i class="fas fa-arrow-circle-right"></i> 
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default text-center">
      <div class="panel-body">
        <p><i class="fas fa-calendar-check"></i>
          <%= @reviewer_papers_concluded %> 
          Revisões Concluídas
        </p>
      </div>
      <div class="panel-footer">
        <%= link_to reviewer_concluded_path,  class: 'btn btn-default' do %>
          Ver Artigos <i class="fas fa-arrow-circle-right"></i> 
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><b>ARTIGOS NO PROCESSO DE REVISÃO</b></p>
        <table id="reviewer-paper-table">
          <thead>
            <tr>
              <th>Título</th>
              <th>Professor</th>
              <th>Estado</th>
              <th>Atualizado em</th>
              <th>Edição</th>
            </tr>
          </thead>
          <tbody>
            <% @reviewer_papers_onhold.each do |paper|%>
              <tr>
                <td><%= paper.title %></td>
                <td><%= paper.professor.name%></td>
                <td><%= paper_reviewer_status(paper.status) %></td>
                <td><%= paper.updated_at %></td>
                <td><%= link_to 'Ver Mais', reviewer_edit_path(:paper_id => paper.id), class: 'btn btn-info' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




