<script type="text/javascript">
  $(function(){
    document.addEventListener("turbolinks:before-cache", function() {
      dataTable.destroy();
    });
    var dataTable = $("#reviewer-paper-pending-table").DataTable();
  })
</script>
<div class="row">
  <div class="col-md-12">
    <p><%= link_to "Voltar", root_path, class: 'btn btn-info'%></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><b>TODOS SEUS ARTIGOS</b></p>
        <table id="reviewer-paper-pending-table">
          <thead>
            <tr>
              <th>Título</th>
              <th>Professor</th>
              <th>Estado</th>
              <th>Atualizado em</th>
              <th>Edição</th>
            </tr>
          </thead>
          <tbody>
            <% @reviewer_papers_pending.each do |paper|%>
              <tr>
                <td><%= paper.title %></td>
                <td><%= paper.professor.name%></td>
                <td><%= paper_reviewer_status(paper.status) %></td>
                <td><%= paper.updated_at %></td>
                <td><%= link_to 'Ver Mais', reviewer_edit_path(:paper_id => paper.id), class: 'btn btn-info' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>