
<%= form_for(Professor.new, url: professor_session_path,class:'form-signin', :id => "fmLogin" ) do |f| %>

    <%= f.label :email, class:"control-label sr-only" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"email", placeholder: 'Email de professor' %>

    <%= f.label :password, class:"control-label sr-only" %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"password", placeholder: 'Senha de professor' %>

    <%= link_to 'Recuperar senha', new_professor_password_path %>

  <div class="actions">
    <%= f.submit "Entrar", id:"btn-logar", class:"btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>