<div class="wrapper-login">
  <div class="form-group">
    <p class="text-center">
      <select id="login-type-select" class="form-control">
        <option value="COORDENADOR" selected="true">Coordenador</option>
        <option value="REVISOR">Revisor</option>
        <option value="PROFESSOR">Professor</option>
      </select>
    </p>
  <div id="login-content"></div>
</div>