<div class="wrapper-login">
  <div class="form-group">
     	<h2>Esqueceu sua Senha ?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Enviar instruções por email" %>
		  </div>
		<% end %>
</div>


<%= render "coordinators/shared/links" %>
