<script type="text/javascript">
  $(function(){
    document.addEventListener("turbolinks:before-cache", function() {
      dataTable.destroy();
    });
    var dataTable = $("#my-papers-concluded-table").DataTable();
  })
</script>

<div class="col-md-3">
  <p><%= link_to "Voltar", root_path, class: 'btn btn-info'%></p>
</div>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <p><b>PENDÊNCIAS</b></p>
      <div class="my-papers">
        <table id="my-papers-concluded-table" class="display-dataTables">
          <thead>
            <tr>
              <th>título</th>
              <th>Professor</th>
              <th>Estado</th>
              <th>Atualizado em:</th>        
              <th>Edição</th>
            </tr>
          </thead>

          <tbody>
            <% if !@coordinator_papers_concluded.empty? %>
            <% @coordinator_papers_concluded.each do |paper|%>
            <tr>
              <td><%= paper.title %></td>
              <td><%= paper.professor.name %></td>
              <td><%= paper_status(paper.status) %></td>
              <td><%= paper.updated_at%></td>
              <td><%= link_to "Ver Mais", coordinator_show_paper_path(paper_id: paper.id), class: 'btn btn-info' %></td>
            </tr>
            <% end %>
            <% else%>
            <td><b>Nenhuma revisão foi concluída.</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>