<script type="text/javascript">
  $(function(){
    document.addEventListener("turbolinks:before-cache", function() {
      dataTable.destroy();
    });
    var dataTable = $("#events-table").DataTable({
      "ordering": false,
      "searching": false,
      "lengthChange": false,
      "paging": false
    });
  })
</script>
<% puts "aaaaa"%>
<%= puts @paper.status%>
<div class="row">
  <p><%= link_to 'Voltar', coordinator_show_paper_path(paper_id: @paper.id), class: 'btn btn-info'%></p>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h3 class="centralizar"><b>HISTÓRICO</b></h3>
    <table id="events-table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Movimentação</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event|%>
        <tr>
          <td>[<%= event.created_at%>]</td>
          <td><b><%= event.log %></b></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
