<script type="text/javascript">
  $(function(){
    document.addEventListener("turbolinks:before-cache", function() {
      dataTable.destroy();
    });
    var dataTable = $("#my-papers-pending-table").DataTable();
  })
</script>

<div class="col-md-3">
  <p><%= link_to "Voltar", root_path, class: 'btn btn-info'%></p>
</div>

<div class="col-md-12">

  <div class="panel panel-default">
    <div class="panel-body">
      <p><b>PENDÊNCIAS</b></p>
      <div class="my-papers">
        <table id="my-papers-pending-table" class="display-dataTables">
          <thead>
            <tr>
              <th>título</th>
              <th>Professor</th>
              <th>Estado</th>
              <th>Atualizado em:</th>        
              <th>Edição</th>
            </tr>
          </thead>

          <tbody>
            <% if !@coordinator_papers_pending.empty? %>
            <% @coordinator_papers_pending.each do |paper|%>
            <tr>
              <td><%= paper.title %></td>
              <td><%= paper.professor.name %></td>
              <td><%= paper_status(paper.status) %></td>
              <td><%= paper.updated_at%></td>
              <td><%= link_to "Ver Mais", coordinator_show_paper_path(paper_id: paper.id), class: 'btn btn-info' %> &nbsp&nbsp 
                  <%= link_to return_paper_path(:paper_id => paper.id), data: { confirm: 'Tem certeza que quer devolver este artigo?' }, title: 'Desvincular-se do artigo.', class: 'return-paper-hover' do %>  
                    <i class="fas fa-window-close"></i>
                  <% end %>
              </td>
            </tr>
            <% end %>
            <% else%>
            <td><b>Não existe pendência</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</div>
