<%= javascript_include_tag 'pdf-modal'%>
<div id="pdf-view" class="col-md-8"></div>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <%if @paper.status=='RECEBIDO' || @paper.status=='DEVOLVIDO'%>
      <p><%= link_to "Voltar", coordinator_pendings_path, class: 'btn btn-info'%></p>
    <% elsif @paper.status=='CONCLUIDA'%>
      <p><%= link_to "Voltar", coordinator_concluded_path, class: 'btn btn-info'%></p>
    <% elsif @paper_status!='CONCLUIDA'%>
      <p><%= link_to "Voltar", coordinator_onhold_path, class: 'btn btn-info'%></p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="text-center"><%= @paper.title.upcase%></p>
      </div>
      <div class="panel-body">
        <!-- LINHA COM O NOME DO PROFESSOR -->
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Professor:</b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left"><%= @paper.professor.name%></p>
          </div>
        </div>
        <!-- LINHA COM O ESTADO DO ARTIGO -->
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Estado:</b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left"><%= paper_status(@paper.status)%></p>
          </div>
        </div>
        <!-- LINHA COM O REVISOR -->
        <% if @paper.coordinator_id != nil%>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Revisor:</b></p>
          </div>
          <div class="col-md-8">
            <% if @paper.reviewer_id!=nil%>
            <p class="text-left"><%= @paper.reviewer.name %> 
              <% if @paper.status!='CONCLUIDA'%>
                <%= link_to 'Remover Revisor', desallocate_reviewer_path(:paper_id => @paper.id), data: { confirm: 'Tem certeza que deseja remover o revisor deste artigo?'}, class: 'btn btn-danger btn-sm' %></p>
              <% end %>
            <% else %>
            <%= form_for @paper, :url => allocate_reviewer_path(:paper_id => @paper.id) do |f|%>
            <p class="text-left">
              <%=  f.select :reviewer_id, options_for_select(@reviewers.collect{|reviewer| [reviewer.name, reviewer.id]}), {}, {:class => "form-control select-size"} %> <%= f.submit 'Atribuir', class: 'btn btn-primary'%></p>
            </p>
            <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
        <!-- LINHA COM O ARTIGO ORIGINAL -->
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Artigo Submetido:</b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left">
              <%= link_to @paper.original_file_key.url, class: 'btn btn-primary', target: :_blank do %>
              <i class="fas fa-download"></i>
              Baixar
              <% end %>
            </p>
          </div>
        </div>
        <!-- LINHA COM O ARTIGO REVISADO -->
        <% if @paper.status=='DEVOLVIDO' || @paper.status=='VOLTOU REVISOR' || @paper.status=='CONCLUIDA'%>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Artigo Revisado:</b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left">
              <%= link_to @paper.reviewed_file_key.url, target: :_blank, class: 'btn btn-primary' do %>
              <i class="fas fa-download"></i>
              Baixar
              <% end %>
            </p>
          </div>
        </div>
        <% end %>
        <!-- LINHA COM O ARTIGO DEVOLVIDO-->
        <% if @paper.status == 'DEVOLVIDO'%>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Revisão:</b></p>
          </div>
          <div class="col-md-8">
            <%= form_for @paper, :url  => concluded_path(:paper_id => @paper.id) do |f|%>
            <p class="text-left"><%= f.select :status, options_for_select([['Aprovada', 'CONCLUIDA'], ['Desaprovada', 'VOLTOU REVISOR']]), {}, {class: 'form-control select-size'}%> <%= f.submit 'Enviar', class: 'btn btn-primary' %></p>
            <% end %>
          </div>
        </div>
        <% end %>

        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Submetido em: </b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left"><%= @paper.created_at.strftime("%d/%m/%Y - %H:%M") %></p>
          </div>
        </div>

        <% if @paper.status == 'CONCLUIDA' %>
          <div class="row">
            <div class="col-md-4">
              <p class="text-left"><b>Concluido em: </b></p>
            </div>
            <div class="col-md-8">
              <p class="text-left"><%= @paper.updated_at.strftime("%d/%m/%Y - %H:%M") %></p>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-4">
            <p><b>Histórico: </b></p>
          </div>
          <div class="col-md-8">
            <p><%= link_to 'Ver Histórico', coordinator_events_path(paper_id: @paper.id), class: 'btn btn-primary'%></p>
          </div>
        </div>
        <!-- LINHA PARA DEVOLVER O ARTIGO -->
          <%if @paper.coordinator_id!=nil%>
            <% if @paper.status!='CONCLUIDA'%>
              <div class="row">
                <p class="text-center"><%= link_to 'Desvincular-se do artigo', return_paper_path(:paper_id => @paper.id), data: { confirm: 'Tem certeza que quer devolver este artigo?' }, class: 'btn btn-danger '%></p>
              </div>
            <% end %>
          <% else %>
            <div class="row">
              <p class="text-center"><%= link_to 'Apropriar-se', take_paper_path(:paper_id => @paper.id), class: 'btn btn-primary'%></p>
            </div>
          <% end %>
        </div>

      </div>
  <div class="col-md-2">
  </div>
</div>