<script type="text/javascript">
  $(function(){
    document.addEventListener("turbolinks:before-cache", function() {
      dataTable.destroy();
    });
    var dataTable = $("#professor-paper-without-coordinator-table").DataTable();
  })
</script>
<div class="col-md-4 text-center">
  <div class="panel painel-default">
    <div class="panel-body">
      <p><i class="fas fa-calendar-minus"></i> 
      <%= @professor_papers_pending %>
      Artigos esperando revisão</p>
    </div>
    <div class="panel-footer">
      <%= link_to professor_pending_path, class: 'btn btn-default' do %>
        Ver Mais <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-4 text-center">
  <div class="panel painel-default">
    <div class="panel-body">
      <p><i class="fas fa-calendar-minus"></i> 
      <%= @professor_papers_concluded%>
      Revisão Concluída</p>
    </div>
    <div class="panel-footer">
      <%= link_to professor_concluded_path, class: 'btn btn-default' do %>
        Ver Mais <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
</div>


<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <p><b>ARTIGO ESPERANDO COORDENADOR</b></p>
      <table id="professor-paper-without-coordinator-table">
        <thead>
          <tr>
            <th>título</th>
            <th>Professor</th>
            <th>Estado</th>
            <th>Data de submissão</th>
            <th>Informações</th>
          </tr>
        </thead>
        <tbody>
          <% if !@professor_papers.empty?%>
            <% @professor_papers.each do |paper|%>
              <tr>
                <td><%= paper.title %></td>
                <td><%= paper.professor.name %></td>
                <td><%= paper_status(paper.status) %></td>
                <td><%= paper.created_at.to_date%></td>
                <td><%= link_to 'Ver Mais', paper_show_path(paper.id), class: 'btn btn-info'%></td>
              </tr>
            <% end %>
          <% else %>
          <tr>
            <td><b>Não existe artigo submetido</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-4">
  <%= link_to 'Submeter artigo para revisão', new_paper_path, class: 'btn btn-primary'%><br>
</div>