<script type="text/javascript">
  $(function(){
    document.addEventListener("turbolinks:before-cache", function() {
      dataTable.destroy();
    });
    var dataTable = $("#professor-paper-without-coordinator-table").DataTable();
  })
</script>

<div class="row">
  <div class="col-md-12">
    <p><%= link_to "Voltar", root_path, class: 'btn btn-info'%></p>
  </div>
</div>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <p><b>ARTIGO ESPERANDO REVISÃO</b></p>
      <table id="professor-paper-without-coordinator-table">
        <thead>
          <tr>
            <th>título</th>
            <th>Professor</th>
            <th>Estado</th>
            <th>Informações</th>
            <th>Histórico</th>
          </tr>
        </thead>
        <tbody>
          <% if !@professor_papers_pending.empty?%>
          <% @professor_papers_pending.each do |paper|%>
          <tr>
            <td><%= paper.title %></td>
            <td><%= paper.professor.name %></td>
            <td><%= paper_status(paper.status) %></td>
            <td><%= link_to 'Ver Mais', paper_show_path(paper.id), class: 'btn btn-info'%></td>
            <td><%= link_to 'Ver Histórico', events_path(paper.id)%></td>
          </tr>
          <% end %>
          <% else %>
          <tr>
            <td><b>Não existe artigo submetido</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>