<h2>Log in - Entrar no Site</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name),  class:'form-signin', :id => "fmLogin" ) do |f| %>
  <div class="form-group">
    <%= f.label :email, class:"control-label sr-only" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"email" %>
  </div>

  <div class="form-group">
    <%= f.label :password, class:"control-label sr-only" %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Lembre-me' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Entrar", id:"btn-logar", class:"btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>

<%= render "coordinators/shared/links" %>
