<div class="espacamento content">
<%= form_for(@paper) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :title, 'Título do artigo:'%>
    </div>
    <div class="col-md-8 form-group">
      <%= f.text_area :title, placeholder: 'Digite o título do artigo', class: 'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p><b>Enviar Artigo:</b></p>
    </div>
    <div class="col-md-8 form-group">
      <%= f.file_field :original_file_key, class: 'form-control'%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <p style='color: red;'><small>Lembre-se: apenas permitido os formatos doc e docx.</small></p>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit 'Submeter', class: 'btn btn-primary espacamento', id: 'botao'%>
  </div>

<% end %>
</div>




