
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <p><%= link_to 'Voltar', root_path, class: 'btn btn-info'%></p>
  </div>
</div>


<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="text-center"> Cadastrar Artigo</p>
    </div>
    <div class="panel-body">
      <%= render 'form'%>
    </div>
  </div>
</div>
<div class="col-md-2">
</div>
</div>

