<%= javascript_include_tag 'pdf-modal'%>
<div id="pdf-view"></div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <% if @paper.status =="CONCLUIDA"%>
      <p><%= link_to "Voltar", professor_concluded_path, class: 'btn btn-info'%></p>
    <% elsif @paper.status=="SUBMETIDO"%>
      <p><%= link_to "Voltar", root_path, class: 'btn btn-info'%></p>
    <% else%>
      <p><%= link_to "Voltar", professor_pending_path, class: 'btn btn-info'%></p>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="text-center"><%= @paper.title.upcase%></p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Professor: </b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left"><%= @paper.professor.name%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Estado: </b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left"><%= paper_status(@paper.status)%></p>
          </div>
        </div>
        <% if @paper.reviewer_id != nil%>
          <div class="row">
            <div class="col-md-4">
              <p class="text-left"><b>Revisor: </b></p>
            </div>
            <div class="col-md-8">
              <p class="text-left"><%= @paper.reviewer.name%></p>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Artigo Submetido: </b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left"> 
              <%= link_to @paper.original_file_key.url, target: :_blank, class: 'btn btn-primary' do%>
                <i class="fas fa-download"></i>
                Baixar
              <% end %>
            </p>
          </div>
        </div>
        <% if @paper.status=='DEVOLVIDO' || @paper.status=='VOLTOU' || @paper.status=='CONCLUIDA' %>
          <div class="row">
            <div class="col-md-4">
              <p class="text-left"><b>Artigo Revisado: </b></p>
            </div>
            <div class="col-md-8">
              <p class="text-left">
                <%= link_to @paper.reviewed_file_key.url, target: :_blank, class: 'btn btn-primary' do%>
                  <i class="fas fa-download"></i>
                  Baixar
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Histórico: </b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left"><%= link_to 'Ver Histórico', events_path(@paper.id), class: 'btn btn-primary'%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Submetido em: </b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left"><%= @paper.created_at.strftime('%d/%m/%Y - %H:%M') %></p>
          </div>
        </div>
        <% if @paper.status=="CONCLUIDA"%>
          <div class="row">
            <div class="col-md-4">
              <p class="text-left"><b>Concluído em: </b></p>
            </div>
            <div class="col-md-8">
              <p class="text-left"><%= @paper.updated_at.to_date%> às <%= @paper.updated_at.strftime("%H:%M") %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>