/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * Layout
 *= require bootstrap/bootstrap336.min
 *= require bootstrap/bootstrap-theme336.min

 * Mostrar Tabelas
 *= require plugins/datatable/jquery.dataTables.min
 
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');
 
body {
  background-color: #eee;
  font-family: 'Roboto';
  font-size: 18px;
}