 /*
  *= require application
  *= require_self
 */
 body{
  font-size: 18px;
}

 .wrapper-center-paper {
  font-family: 'Roboto';
  border: 2px 2px #EEEEEE;
  border-radius: 10px;
  box-shadow: 1.5px 1px #c6c6c6;
  height: 50vh;
  width: 30vw;
  margin: 0 auto;
  background-color: white;
}
.centralizar{
  text-align: center;
}
.espacamento {
  margin-top: 30px;
}
.espacamento-plus {
  margin-top: 75px;
}
.centralizar h1, .centralizar h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: -3px;
}
.content{
  margin-left: 10px;
}

.title {
  margin-bottom: 30px;
}
.row{
  display: table-row;
  width: 100%;
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
}
.reviewer-checkbox{
  margin-top: 10px;
}
.two-column-left{
  float: left;
  width: 30%;
  text-align: left;
}
.two-column-right {
  float: left;
  text-align: right;
}