<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'login', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="modal fade" id="alerta-mensagens" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Titulo da janela</h4>
          </div>
          <div class="modal-body">
            <p>mensagem</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="jumbotron">
      <div class="container">
        <div align="center"><img src="/images/revisao-logo-round.png"></div>
      </div>
    </div>
    <div class="container">

      <%= yield %>
    
    </div>

    <footer class="footer text-center">
      <div class="container">
        <p class="text-muted">&copy; 2018 <a href="http://www.prppg.ufc.br">Pr&oacute;-Reitoria de Pesquisa e P&oacute;s-Gradua&ccedil&atilde;o</a> &nbsp;|&nbsp;

          Assessoria de Tecnologia da Informa&ccedil;&atilde;o</p>
      </div>
    </footer>
  </body>
</html>
