<!DOCTYPE html>
<html>
  <head>
    <title>SistemaRevisao</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'reviewer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'reviewer', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
    <header class="navbar">
      <nav class="navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><small>Bem Vindo, <%= current_reviewer.name %></small></a>
            
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class=""><a class="navbar-brand" href="/"><small>Página Inicial</small></a></li>
              <li><a data-confirm="Tem certeza que deseja sair?" data-method="delete" class="navbar-brand" href="/reviewers/sign_out"><small>Sair</small></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
    <%= yield %>
  </div>
  <div class="container">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p><b>LEGENDA</b></p>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-1">
                <p class="text-center"><a class="btn btn-info">Ver Mais</a></p>
              </div>
              <div class="col-md-11">
                <p>Obter e realizar ações sobre um artigo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
